/*region utility*/
:root
{
    --bool-primary:#47adf1;
    --bool-secondary: #65C1A9;
    --bool-accent: #f39e32FF;
    --bool-darker: #9D72E5;
    --bool-dark: #D963A0;
    --bool-light: #B0C827;
    --bool-lighter: #f7f8f8;
    font-family: 'Almarai';
}
    
/*region common*/
body
{
    font-family:'Almarai';
    margin: 0;
    background-color:var(--bool-lighter);
}


    

/*region header*/
#site_header
{
  background-size: 293px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: white;
}

#head
{
    font-size: 2.5rem;
}

.logo
{
    vertical-align: middle;
}

/*region main*/
.button_box
{
    width: 55%;
    margin: 20px auto;
    background-color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding:10px
}
#task_button
{
    color:white;
    font-size: x-small;
    background-color:var(--bool-primary) ;
    margin-left: 30px;
}
#section_button
{
    color:#b1b2b5;
    font-size: x-small;
    background-color:white;
}
.add_button
{
    border-radius: 5px;
    padding: 5px;
    border-color: #b1b2b5;
    border-width: 1px;
}
.list_box
{
    width: 55%;
    margin: 20px auto;
    background-color: white;
    padding:10px

}
.text_margin
{
    margin-left: 30px;
}
.checkmarker
{
    color: green;
}
.crossmarker
{
    color: red;
}
.button
{
    color:white;
    font-size: x-small;
    border-color:#b1b2b5;
    border-radius: 15px;
}