/*region utility*/
:root
{
    --tobo-editorial:#47adf1;
    --tobo-recruiting: #65C1A9;
    --tobo-mobile: #f39e32FF;
    --tobo-goals: #9D72E5;
    --tobo-website: #D963A0;
    --tobo-sales: #B0C827;
    --tobo-lighter: #f7f8f8;
    --tobo-logo: #051831;
    font-family: 'Almarai';
}
    
/*region common*/
body
{
    font-family:'Almarai';
    margin: 0;
    background-color:var(--bool-lighter);
}


    

/*region header*/
#site_header
{
  background-size: 293px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  background-color: white;
}

#head
{
    font-size: 2.5rem;
    color: var(--tobo-logo)
}

.logo
{
    vertical-align: middle;
}

/*region main*/
